<!DOCTYPE html>
<html>
  <head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @person.name %>, Welcome to the Breeding Shelter family!</h1>
    <p>
      You have successfully scheduled an adoption meeting. You and <%=@species.pet_name%> will meet with,
      <%=@staff.name%> on ___________.
    </p>
    <p>
      To cancel your appointment, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining us and have a great day!</p>
  </body>
</html>
