<!DOCTYPE html>
<html>
  <head>
    <title>BreedingShelter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <a href="https://www.agriculture.pa.gov/Animals/DogLaw/pa-dog-laws/Pages/default.aspx#:~:text=All%20dogs%20must%20be%20under,mistreat%20or%20abuse%20any%20animal.&text=It%20is%20illegal%20to%20abandon%20or%20attempt%20to%20abandon%20any%20dog." id="header-site-title">"Breeding Shelter" Marmot, Pennsylvania</a>
    <%= yield %>
  </body>
</html>
